<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Погорілий Данило. КН-31
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Лабораторна робота №8</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-title size="large">Лабораторна робота №8</ion-title>
    <ion-card-subtitle>Точка, Прямокутник, Ромб, Квадрат</ion-card-subtitle>

  </div>
</ion-content>